input#search{
	width: 40vw;
  height: 6vh;
/*   font-size: 28px;
 */  border-radius: 8px;
  border: 2px solid #e6e6e6;
}

span#simple {
    color: #FC5185;
    font-weight: 500;
    background: -webkit-linear-gradient(-145deg,#a000e2, #FC5185);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: blink;
    font-weight: 100;
} 
