input#search{
	width: 40vw;
  height: 6vh;
/*   font-size: 28px;
 */  border-radius: 8px;
  border: 2px solid #e6e6e6;
}

span#simple {
    color: #FC5185;
    font-weight: 500;
    background: -webkit-linear-gradient(-145deg,#a000e2, #FC5185);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: blink;
    font-weight: 100;
} 

.element-item .symbol{
    font-size: 0.9em;
}



.element-item {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  background: #364F6B;
  color: #262524;
  border-radius: 0.5em;

  -o-transition:color .2s ease-out, background .2s ease-in-out;
  -ms-transition:color .2s ease-out, background .2s ease-in-out;
  -moz-transition:color .2s ease-out, background .2s ease-in-out;
  -webkit-transition:color .2s ease-out, background .2s ease-in-out;
  transition:color .2s ease-out, background .2s ease-in-out;
}

.element-item:hover {
  background: #FC5185;
  -o-transition:color .2s ease-out, background .2s ease-in-out;
  -ms-transition:color .2s ease-out, background .2s ease-in-out;
  -moz-transition:color .2s ease-out, background .2s ease-in-out;
  -webkit-transition:color .2s ease-out, background .2s ease-in-out;
  transition:color .2s ease-out, background .2s ease-in-out;
}