@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.search {
  width: 100%;
  position: relative;
}
.search:before {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-family: 'FontAwesome';
  content: '\f002';
  background: #8FC357;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smooth: always;
}

.searchTerm {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 5px solid #8FC357;
  padding: 5px;
  height: 40px;
  border-radius: 5px;
  outline: none;
}

.searchButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  opacity: 0;
  cursor: pointer;
}

input#search{
	width: 40vw;
  height: 6vh;
  margin-bottom: 30px;
  border-radius: 8px;
  border: 2px solid #e6e6e6;
}

span#simple {
    color: #FC5185;
    font-weight: 500;
    background: -webkit-linear-gradient(-145deg,#a000e2, #FC5185);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: blink;
    font-weight: 100;
} 

.element-item .symbol{
    font-size: 0.9em;
    position: initial;
}

.element-item {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  background: #364F6B;
  color: #262524;
  border-radius: 0.5em;

  -o-transition:color .2s ease-out, background .2s ease-in-out;
  -ms-transition:color .2s ease-out, background .2s ease-in-out;
  -moz-transition:color .2s ease-out, background .2s ease-in-out;
  -webkit-transition:color .2s ease-out, background .2s ease-in-out;
  transition:color .2s ease-out, background .2s ease-in-out;
}

.element-item:hover {
  background: #FC5185;
  -o-transition:color .2s ease-out, background .2s ease-in-out;
  -ms-transition:color .2s ease-out, background .2s ease-in-out;
  -moz-transition:color .2s ease-out, background .2s ease-in-out;
  -webkit-transition:color .2s ease-out, background .2s ease-in-out;
  transition:color .2s ease-out, background .2s ease-in-out;
}

button#pre {
    border: none;
    outline: none;
}