.grid{
  margin-left: 0;
  text-align: center;
}

h1#title {
    color: #3D289B;
}

input#base {
    width: 50%;
    text-align: center;
}

input#px, input#ems {
    height: auto;
    font-size: 40px;
    width: 90%;
    text-align: center;
}

input#base {
    font-size: 40px;
    height: auto;
    width: 20%;
}
